#parared
{
    color: red;
}
.parableu{
    color: blue;
    border: 1px solid green;
    
}
p{
    color: aqua;
    
}
.vt{
    color: blueviolet;
}
.bord{
    border: 1px solid brown
}
a{
    color: red;text-decoration: none;
}
a:hover{
    color: green;text-decoration: underline;
}
a:visited{
    color: grey;
}